<div class="panel panel-default" ng-init="getAnimes()">
  <div class="panel-heading">
    <h3 class="panel-title">My Favourite Animes</h3>
  </div>
  <div class="panel-body">
   <div class="container">
       <div class="row" ng-repeat="x in animes">
           <div class="col-md-12" >
               
                   <div class="col-md-6">
                       <img class="thumbnail" ng-src="{{x.image_url}}" alt="">
                   </div>
                   <section>
                   <div class="col-md-6">
                       <div class="well">
                           <h1>{{x.title}}</h1>
                           <p>{{x.description}}</p> <br>
                           <a class="btn btn-primary" ng-href="#!/anime/single/{{x._id}}">View Detail</a>
                       </div>
                   </div>
               </section>
           </div>
       </div>
   </div>
 </div>
</div>